
/* -----------------/ CSS MIDPAGE-ABOUT + FOOTER /----------------- */

  body{
    font-family: 'open sans',Arial, Helvetica, sans-serif;
    background-color: rgb(78, 78, 78);
    color: #c2c2c2;
}

  form {
    width: 400px;
    padding: 1em; 
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 140px;
    text-align: left;
    font-size: 12px;
    color: #c2c2c2;
  }
  
  #bloc{
    width: 180px;
    box-sizing: border-box;
    border: 1px solid #999;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.103);
    border: 1px solid rgba(153, 153, 153, 0.356);
  }
  
  input:focus, textarea:focus {
    border-color: #000;
    
  }
  
  textarea {

    vertical-align: top;
    height: 5em;
    background-color: rgba(0, 0, 0, 0.103);
    
  }

  #msg{
    background-color: rgba(0, 0, 0, 0.103);
    box-sizing: border-box;
    border: 1px solid rgba(153, 153, 153, 0.356);
  }
  
  .button {
   margin-left: -6px;
  }
  
  button {
    margin-left: .5em;
    width: 90px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.356);
    border: none;
    color: #c2c2c2;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  textarea{
    width: 360px;
    height: 120px;
  }

  #recherche{
    width: 340px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.103);
    box-sizing: border-box;
    border: 1px solid rgba(153, 153, 153, 0.356);
    color: #c2c2c2;
  }

  .containersearch{
      width: 340px;
      margin :0;
  }

  .containerform{
      width: 480px;
      padding-right: 50px;
      margin :0;
      padding-left: 50px;
  }

  .containerglobal{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 1100px;
  }

  h3{
      color: white;
  }

  #date{
      color: rgba(153, 153, 153, 0.712);
      font-size: 12px;
  }

  #titre{
      color: white;
      font-weight: bold;
  }

  #description{
      font-size: 14px;
  }
/* -----------------/ FIN /----------------- */