
/* -----------------/ CSS MIDPAGE-ABOUT + FOOTER /----------------- */

  body{
    font-family: 'open sans',Arial, Helvetica, sans-serif;
    background-color: rgb(78, 78, 78);
    color: #c2c2c2;
}

/* -----------------/ FIN /----------------- */