body {
    height: auto;
    margin: 0;
    padding: 0;
}

header {
    height: 550px;
    background-repeat:repeat-y;
    background-size:cover;
    background-position: center;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    background-image: url("../images/background.jpg");
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    width: 780px;
    
    
}

nav li {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
}

header nav ul li a:hover {
    color:aliceblue;
}
nav a {
    color:darkgrey;
    text-decoration: inherit;
    margin-bottom: 90px;
}
nav a.activelink {
    color: white;
}

#titlepage {
    display: flex;

    height: 260px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 6em;
    font-weight: 100;
    color: white;
    margin-bottom: inherit;
    letter-spacing: 10px;
    margin-bottom: 60px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
}
#line-grey {
    border-top: 1px solid grey;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 50px;
}